body {
    padding: 5%;
    background-color: black;
    color:white;
}

.book-div {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    margin: 5%;
    width: 20%;
    max-height: 500px;
    overflow: scroll;
    border-radius: 5px;
    color: black;
}