body {
    padding: 5%;
    background-color: black;
    color:white;
}

.title-div {
    text-align: center;
    color: white;
    background-color: #0108b0;
    border-radius: 5px;
}

.comment {
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px;
    margin: 5px 0;
}

.book-div {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    margin: 5%;
    width: 20%;
    max-height: 500px;
    overflow: scroll;
    border-radius: 5px;
    color: black;
    padding: 5px;
    box-shadow: white 0 0 40px;
    overflow-x: hidden;
}

.book-div img {
    display:block;
    margin: auto;
    box-shadow: 0 0 10px;
}

.book-div h2 {
    text-align: center;
}